DB_URL=jdbc:postgresql://localhost:54321/veylor_relay
DB_NAME=veylor_relay
DB_PORT=54321
DB_USER=postgres
DB_PASSWORD=my_ultra_secure_password
ADMIN_SECRET_TOKEN=admin_dev_token_12345

# Mail Configuration (Defaults to local Mailpit setup)
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=contact@relay.dev
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS=false
MAIL_SMTP_STARTTLS_REQ=false
JAVA_TOOL_OPTIONS=-Xmx350m
